@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');
thead {
    color: aliceblue;
    background: #2270ae;
}

table#example {
    padding-bottom: 10px;
}

div#example_paginate {
    background: #2497b1;
    padding: 5px 0;
    color: #fff;
    font-size: 12px;
}

a#example_next {
    color: #fff;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 400;
}

.pdf_href {
    color: #000;
    font-family: serif;
    font-size: 16px;
    line-height: 1.5;
}